@use "sass:map";
@use "../../styles/mixins" as mixins;

.weather-info {
  &__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;

    img {
      width: 40px;
    }
  }

  &__container {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 1rem;
  }

  &__description-wrapper {
    display: flex;
    flex-direction: column;
    gap: 0.125rem;
  }

  &__temperature {
    @include mixins.font(700, 42px, 2.1px, 0);
    margin-bottom: 0.5rem;
  }
}