@use "sass:map";
@use "../../styles/mixins" as mixins;

.weather-info {
  &__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;
    flex-direction: column;
    margin: 0;

    img {
      width: 64px;
    }
  }

  &__container {
    display: flex;
    align-items: center;
    //flex-direction: column;
    text-align: center;
    gap: 1rem;
  }

  &__description-wrapper {
    display: flex;
    flex-direction: column;
    gap: 0.125rem;
  }

  &__temperature {
    @include mixins.font(700, 96px, 1, 0);
    gap: 0.125rem;
    display: flex;
  }
}