@use "sass:map";
@use "../../styles/mixins" as mixins;

.weather-icon {
  &__wrapper {
    display: flex;
    align-items: center;
    gap: 0.25rem;
  }

  &__description-wrapper {
    display: flex;
    flex-direction: column;
    gap: 0.125rem;
  }

  &__description + span {
    font-weight: 700;
  }
}