@use "sass:map";
@use "./mixins" as mixins;

:root {
  font-family: 'Poppins', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0 auto;
  @include mixins.media-query("md") {
    max-width: 768px;
  }
  @include mixins.media-query("lg") {
    max-width: 1024px;
  }
}

main {
  position: relative;
  min-height: 100vh;
  padding: 2rem;

  @include mixins.media-query('md') {
    border-radius: 4px;
    margin-top: 48px;
    box-shadow: 1px 6px 51px -11px rgba(217, 205, 205, 0.29);
    -webkit-box-shadow: 1px 6px 51px -11px rgba(217, 205, 205, 0.29);
    -moz-box-shadow: 1px 6px 51px -11px rgba(217, 205, 205, 0.29);
  }


  @include mixins.media-query("md") {
    height: 75vh;
    border-radius: 12px;
    margin-top: 48px;
  }
}

p, input, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

ul, li {
  padding: 0;
  margin: 0;
}

ul li {
  list-style-type: none;
}

input:not([type=checkbox], [type=radio]) {
  margin: 0;
}

label:has([type=checkbox],[type=radio]) {
  width: 60px;
  cursor: pointer;
}

