@use 'variables' as *;
@use "sass:map";

@mixin font($weight: 600, $font-size: 1rem, $line-height: 1.2, $letter-spacing: 0, $font-family: ('Raleway', sans-serif)) {
  font-weight: $weight;
  font-size: $font-size;
  line-height: $line-height;
  letter-spacing: $letter-spacing;
  font-family: $font-family;
}

@mixin media-query($breakpoint) {
  @if map.has-key($breakpoints, $breakpoint) {
    @media (min-width: map.get($breakpoints, $breakpoint)) {
      @content;
    }
  } @else {
    @error "Breakpoint `#{$breakpoint}` not found in $breakpoints map.";
  }
}