@use "sass:map";
@use "../../styles/mixins" as mixins;

.weather-city {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--pico-h5-color);
  padding-block: 1.5rem;
  margin-bottom: 3rem;

  h1 {
    @include mixins.font(200, 24px, 1.2, 0);
    color: var(--pico-h5-color);
  }

  span {
    @include mixins.font(200, 24px, 1.2, 0);
    color: var(--pico-h5-color);
  }
}