@use "sass:map";
@use "../../styles/mixins" as mixins;

.footer {
  padding: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;

  @include mixins.media-query("md") {
    padding: 1.5rem;
  }

  @include mixins.media-query("lg") {
    padding: 2rem;
  }

  &__link-wrapper {
    display: flex;
    gap: 0.75rem;
    align-items: center;
    justify-content: space-between;

    a {
      img {
        height: 40px;
      }
    }
  }
}
